examples/example.json
[
  {
    "id": "6bf9c09279d80258",
    "type": "tab",
    "label": "AWS S3 Examples",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "aws-config-1",
    "type": "aws-s3-config",
    "name": "My AWS S3 Config",
    "region": "us-east-1",
    "regionType": "str",
    "accessKeyId": "",
    "accessKeyIdType": "str",
    "secretAccessKey": "",
    "secretAccessKeyType": "str",
    "useIamRole": false,
    "endpoint": "",
    "endpointType": "str",
    "forcepathstyle": false,
    "skiptlsverify": false
  },
  {
    "id": "e02e472cb56ae101",
    "type": "comment",
    "z": "6bf9c09279d80258",
    "name": "LIST ALL BUCKETS",
    "info": "",
    "x": 180,
    "y": 60,
    "wires": []
  },
  {
    "id": "list-buckets-node",
    "type": "aws-s3",
    "z": "6bf9c09279d80258",
    "aws": "aws-config-1",
    "operation": "ListBuckets",
    "name": "List Buckets",
    "x": 300,
    "y": 100,
    "wires": [
      [
        "debug-list-buckets"
      ],
      []
    ]
  },
  {
    "id": "inject-list-buckets",
    "type": "inject",
    "z": "6bf9c09279d80258",
    "name": "Run",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 110,
    "y": 100,
    "wires": [
      [
        "list-buckets-node"
      ]
    ]
  },
  {
    "id": "debug-list-buckets",
    "type": "debug",
    "z": "6bf9c09279d80258",
    "name": "Buckets",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 480,
    "y": 100,
    "wires": []
  },
  {
    "id": "comment-list-objects",
    "type": "comment",
    "z": "6bf9c09279d80258",
    "name": "LIST OBJECTS IN BUCKET",
    "info": "",
    "x": 180,
    "y": 180,
    "wires": []
  },
  {
    "id": "list-objects-node",
    "type": "aws-s3",
    "z": "6bf9c09279d80258",
    "aws": "aws-config-1",
    "operation": "ListObjectsV2",
    "name": "List Objects",
    "x": 300,
    "y": 220,
    "wires": [
      [
        "debug-list-objects"
      ],
      []
    ]
  },
  {
    "id": "inject-list-objects",
    "type": "inject",
    "z": "6bf9c09279d80258",
    "name": "Run",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "Bucket",
        "v": "my-bucket",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 110,
    "y": 220,
    "wires": [
      [
        "list-objects-node"
      ]
    ]
  },
  {
    "id": "debug-list-objects",
    "type": "debug",
    "z": "6bf9c09279d80258",
    "name": "Objects",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 480,
    "y": 220,
    "wires": []
  },
  {
    "id": "comment-get-object",
    "type": "comment",
    "z": "6bf9c09279d80258",
    "name": "GET OBJECT (DOWNLOAD FILE)",
    "info": "",
    "x": 180,
    "y": 300,
    "wires": []
  },
  {
    "id": "get-object-node",
    "type": "aws-s3",
    "z": "6bf9c09279d80258",
    "aws": "aws-config-1",
    "operation": "GetObject",
    "name": "Get Object",
    "x": 300,
    "y": 340,
    "wires": [
      [
        "debug-get-object"
      ],
      []
    ]
  },
  {
    "id": "inject-get-object",
    "type": "inject",
    "z": "6bf9c09279d80258",
    "name": "Run",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "Bucket",
        "v": "my-bucket",
        "vt": "str"
      },
      {
        "p": "Key",
        "v": "path/to/file.txt",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 110,
    "y": 340,
    "wires": [
      [
        "get-object-node"
      ]
    ]
  },
  {
    "id": "debug-get-object",
    "type": "debug",
    "z": "6bf9c09279d80258",
    "name": "File Content",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 480,
    "y": 340,
    "wires": []
  },
  {
    "id": "comment-put-object",
    "type": "comment",
    "z": "6bf9c09279d80258",
    "name": "PUT OBJECT (UPLOAD FILE)",
    "info": "",
    "x": 180,
    "y": 420,
    "wires": []
  },
  {
    "id": "put-object-node",
    "type": "aws-s3",
    "z": "6bf9c09279d80258",
    "aws": "aws-config-1",
    "operation": "PutObject",
    "name": "Put Object",
    "x": 300,
    "y": 460,
    "wires": [
      [
        "debug-put-object"
      ],
      []
    ]
  },
  {
    "id": "function-prepare-upload",
    "type": "function",
    "z": "6bf9c09279d80258",
    "name": "Prepare Upload",
    "func": "msg.Bucket = \"my-bucket\";\nmsg.Key = \"path/to/uploaded-file.txt\";\nmsg.payload = \"This is the file content to upload to S3\";\nmsg.ContentType = \"text/plain\";\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 110,
    "y": 460,
    "wires": [
      [
        "put-object-node"
      ]
    ]
  },
  {
    "id": "debug-put-object",
    "type": "debug",
    "z": "6bf9c09279d80258",
    "name": "Upload Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 480,
    "y": 460,
    "wires": []
  },
  {
    "id": "comment-delete-object",
    "type": "comment",
    "z": "6bf9c09279d80258",
    "name": "DELETE OBJECT",
    "info": "",
    "x": 180,
    "y": 540,
    "wires": []
  },
  {
    "id": "delete-object-node",
    "type": "aws-s3",
    "z": "6bf9c09279d80258",
    "aws": "aws-config-1",
    "operation": "DeleteObject",
    "name": "Delete Object",
    "x": 300,
    "y": 580,
    "wires": [
      [
        "debug-delete-object"
      ],
      []
    ]
  },
  {
    "id": "inject-delete-object",
    "type": "inject",
    "z": "6bf9c09279d80258",
    "name": "Run",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "Bucket",
        "v": "my-bucket",
        "vt": "str"
      },
      {
        "p": "Key",
        "v": "path/to/file-to-delete.txt",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 110,
    "y": 580,
    "wires": [
      [
        "delete-object-node"
      ]
    ]
  },
  {
    "id": "debug-delete-object",
    "type": "debug",
    "z": "6bf9c09279d80258",
    "name": "Delete Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 480,
    "y": 580,
    "wires": []
  }
]
